<nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-50 mb-4">
    <div class="container">
        <a class="navbar-brand" href="/web/home"><span style="color: #5e9693;">Livraria</span><span
                style="color: black;">CRIE_TI</span></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/web/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/publishers">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/formats">Formats</a>
                </li>
            </ul>
            <% if (page != '/web/home') { %>
                <form onsubmit="return onSearch(event)" class="d-flex form-inline me-5">
                    <input class="form-control" type="search" id="search" placeholder="Search">
                    <span class="input-group-text border-0" id="search">
                        <i class="fas fa-search"></i>
                    </span>
                </form>
            <% } %>
            <div class="d-flex my-2 my-lg-0">                
                <a href="/web/logout" class="btn btn-rounded btn-dark">logout</a>
            </div>
        </div>
    </div>
</nav>