<nav class="navbar navbar-dark bg-mynav">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/web/users">Users</a></li>
        <li><a href="/web/books">Books</a></li>
        <li><a href="/web/publishers">Publishers</a></li>
        <li><a href="/web/categories">Categories</a></li>
    </ul>
</nav>