<!doctype html>
<html lang="pt-BR">
<head>
    <%- include('../templates/head'); %>
    <title>Livraria</title>
</head>
       

<body>

    <div id="table-form">
        <form method="post" action="/login">
            <h1><i class="fab fa-node"></i></h1><br>

            <h1>Livraria CRIE_TI</h1>

            <input class="email" type="email" name="email" placeholder="email" autocomplete="off"><br><br>

            <input class="password" type="password" name="password" placeholder="password"><br><br>

            <button class="btn" id="btn">Entrar</button><br>

            <p>Ainda não tem uma conta?<a href="./registration.ejs"> <strong>Cadastre-se</strong></a></p><br>
        </form>
    </div>
    <script src=""></script>
</body>

</html>