<!doctype html>
<html lang="pt-BR">
<head>
    <%- include('../templates/head'); %>
    <title>Livraria</title>
</head>

<body>
    <%- include('../templates/nav'); %>

    <div class="container">
        <div class="d-flex bd-highlight mb-3">
            <div class="me-auto p-2 bd-highlight">
                <h2>Publisher</h2>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary" onclick="showPublisherCreateBox()">Create</button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">state</th>
                        <th scope="col">City</th>
                        <th scope="col" class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody id="mytable">
                    <tr>
                        <th scope="row" colspan="5">Loading...</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../templates/footer'); %>
    <script src="/publisher.js"></script>  
</body>
</html>